.fa-home-icon {
  border: 1px solid lightgrey;
  border-radius: 10%;
  font-size: 28px;
  padding: 5px;
  width: 44px;
}

.fa-user-icon {
  border: 1px solid lightgrey;
  border-radius: 10%;
  font-size: 28px;
  padding: 5px;
  width: 44px;
}

.navbar-toggler-icon {
  border-radius: 10%;
  width: S 45px;
}
